h1 {font-family: 'Roboto', sans-serif;
   text-align: left;
   font-size: 100px;
}

ul {
list-style-type: none;
position: fixed;
}

li a {
color: black;
display: block;
font-size:27px;
font-family: 'Roboto', sans-serif;
}
#margine{
  margin:20px;
}


p {
  font-family: 'PT Sans', sans-serif;

  }
h4 {
     font-family: 'PT Sans', sans-serif;
     font-style: italic;
     text-align: center;
    }
h6 {
    font-family: 'PT Sans', sans-serif;
    }
h2 {
  font-family: 'Roboto', sans-serif;

     }
     h3 {
     font-family: 'PT Sans', sans-serif;
        text-align: center;
      }

    footer {
    font-family: 'PT Sans', sans-serif;
         text-align: right;
       }
       /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
       @media only screen and (min-width: 320px) and (max-width: 768px) {
         .nav-mobile {
           display:block;
         }
       }

       @media only screen and (min-width: 320px) and (max-width: 768px) {
         .nav-list {
           display:none;
         }
       }
